@import '../shared/mixins';

$siteWidth: 680px;
$navHeight: 34px;
$navBackgroundColor: #759aaf;
$anchorColor: #929292;


body {
  background-color: #f9f9f9;
  a {
    color: black;
  }
}

.header {
  position: fixed;
  width: 100%;
  opacity: 1;
  z-index: 2;
  height: 60px;
  top: 0;
  left: 0;
  background-color: #66c0b7;
  font-family: 'Muli', sans-serif;
}


.navlink {
  font-size: 18px;
  display: inline-block;
  list-style-type: none;
  padding: 0 10px;
  //padding-top: 7px;
  position: relative;
  text-align: center;
  //width: 80px;
  a {
    text-decoration: none;
    color: white;
    //padding: 10px 20px 10px 20px;
  }
}

.navlink:hover {
  border-bottom: solid white 2px;
}

@media (min-width: 1340px) {
  .topNavlist {
    width: 1220px;
  }
}

*:focus {
  outline: none;
}

.searchBox {
  margin-top: 13px;
  display: inline-block;
  float: right;
  border-bottom: solid white 2px;
  img {
    height: 20px;
    margin-top: 4px;
  }
}

.container {
  max-width: 1340px;
  padding: 30px 15px 20px 15px;
  margin: 0 auto;
}

.topNavlist {
  margin: 0 auto;
  height: 100%;
  h1 {
    font-family: 'Muli', sans-serif;
    display: inline-block;
    margin: 0;
    font-size: 42px;
    padding-top: 2px;
  }
  ul {
    display: inline-block;
    padding-top: 19.5px;
    margin: 0 0 0 30px;
    vertical-align: top;
    height: 100%;
  }
  input {
    float: right;
    margin-right: 10px;
    margin-bottom: 0;
    width: 200px;
    display: inline-block;
    border: none;
    height: 25px;
    background-color: #66c0b7;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
  }
  .searchResults {
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    background: white;
    opacity: 1;
    border: solid black 1px;
    li {
      margin-bottom: 0;
    }
  }
}

.mainimg {
  display: inline-block;
  float: right;
  /*vertical-align: bottom;*/
  text-align: center;
}

.mainContent {
  margin-top: 80px;
}

.postTopper {
  zoom: 1;
  height: 48px;
  top: 59px;
  background: #fff;
  border-bottom: 1px solid #d7d7d7;
}

.share {
  float: left;
  display: block;
  border-right: 1px solid #d7d7d7;
  //height: 100%;
  padding: 10px 20px 10px;
  a {
    color: #929292;
    i {
      padding-right: 7px;
    }
  }
}

.share:hover {
  a {
    color: darken($anchorColor, 30%);
    //color: black;
  }
}

h3 {
  display: inline;
}

.indivProfile {
  zoom: 1;
  margin: 20px 0;
  padding: 0;
  background: #ffffff;
  border: 1px solid #d7d7d7;
  float: right;
}

.techprofile, .devprofile {
  display: inline-block;
  //float: right;
  padding: 0;
  //max-width: 685px;
  max-width: 685px;
  margin: 40px;
}

.profileheading {
  zoom: 1;
  height: auto;
  overflow: hidden;
  margin: 20px 20px 0 20px;
}

.profilebody {
  zoom: 1;
  height: auto;
  overflow: hidden;
  margin: 20px 20px 0 20px;
}

.featured {
  position: fixed;
  display: inline-block;
}

.jargonator {
  height: $navHeight;
  border-bottom: 5px solid white;
  @include box-shadow(inset 0 -2px 1px rgba(black, .03));

}

.tabs {
  margin: 0 auto;
  list-style: none;

  a {
    display: block;
    text-decoration: none;
  }

  > li {
    float: left;
    margin-right: 3px;
  }

  > li > a {
    height: $navHeight;
    line-height: $navHeight;
    padding: 0 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-shadow: 0 -1px rgba(black, .3);
    background: $navBackgroundColor;
    border-radius: 3px 3px 0 0;
    @include linear-gradient(top, lighten($navBackgroundColor, 12%), $navBackgroundColor);
    @include box-shadow(inset 0 1px rgba(white, .3), inset 0 -2px 2px rgba(black, .03), 0 2px white, 0 0 2px rgba(black, .2));

    &:hover {
      text-decoration: none;
      background: lighten($navBackgroundColor, 5%);
      @include linear-gradient(top, lighten($navBackgroundColor, 18%), lighten($navBackgroundColor, 5%));
    }
  }

  > li.active > a, > li > a:active, > .dropdown:hover > a {
    background: #66c0b7;
    color: #404040;
    text-shadow: none;
    @include box-shadow(0 2px white, 0 0 2px rgba(black, .2));
  }
}

.result {
  color: black;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder { /* Firefox 18- */
  color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  color: white;
}



