@import '../shared/mixins';

$siteWidth: 680px;
$navHeight: 34px;
$navBackgroundColor: #759aaf;
$anchorColor: #929292;


body {
  background-color: #f9f9f9;
  a {
    color: black;
  }
  a:hover {
    color: #929292;
  }
  //font: normal 100% 'Muli', sans-serif;
}


.header {
  position: fixed;
  width: 100%;
  opacity: 1;
  z-index: 2;
  height: 60px;
  top: 0;
  left: 0;
  background-color: #66c0b7;
}


.navlink {
  font-size: 18px;
  display: inline-block;
  list-style-type: none;
  padding: 0 10px;
  //padding-top: 7px;
  position: relative;
  text-align: center;
  //width: 80px;
  a {
    text-decoration: none;
    color: white;
    //padding: 10px 20px 10px 20px;
  }
  a:hover {
    color: white;
  }
}

.navlink:hover {
  border-bottom: solid white 2px;
}

@media (min-width: 1340px) {
  .topNavlist {
    width: 1280px;
  }
}

*:focus {
  outline: none;
}

.searchBox {
  margin-top: 13px;
  display: inline-block;
  float: right;
  border-bottom: solid white 2px;
  min-width: 260px;
  img {
    height: 20px;
    margin-top: 4px;
  }
}

.container {
  max-width: 1340px;
  //padding: 30px 0;
  margin: 0 auto;
  text-align: justify;
  h2 {
    text-align: left;
  }
}

.login-container {
  margin-top: 100px;
  text-align: center;
}

.resultsBox {
  position: absolute;
  margin-top: 4px;
  width: 260px;
  background: white;
  border: solid #d7d7d7 1px;

  //padding: 8px;
}

.topNavlist {
  margin: 0 auto;
  height: 100%;
  h1 {
    font-family: 'Muli', sans-serif;
    display: inline-block;
    margin: 0;
    font-size: 42px;
    padding-top: 2px;
  }
  ul {
    display: inline-block;
    padding-top: 19.5px;
    margin: 0 0 0 30px;
    vertical-align: top;
    height: 100%;
  }
  input {
    float: right;
    margin-right: 10px;
    margin-bottom: 0;
    width: 200px;
    display: inline-block;
    border: none;
    height: 25px;
    background-color: #66c0b7;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
  }
  .searchResults {
    //float: right;
    //margin-right: 10px;
    margin: 0;
    padding: 8px;
    //width: 300px;
    //display: inline-block;
    vertical-align: top;
    list-style-type: none;
    //background: white;
    //opacity: 1;
    li {
      margin-bottom: 5px;
    }
  }
}

.mainimg {
  //display: inline-block;
  //float: right;
  width: 100%;
  //text-align: center;
}

//.mainContent {
//  margin-top: 80px;
//}

.postTopper {
  zoom: 1;
  //height: 48px;
  top: 59px;
  background: #fff;
  border-bottom: 1px solid #d7d7d7;
}

.share {
  float: left;
  display: block;
  border-right: 1px solid #d7d7d7;
  //height: 100%;
  padding: 10px 20px 10px;
  a {
    color: #929292;
    text-transform: uppercase;
    i {
      padding-right: 7px;
    }
  }
}

.date {
  display: inline-block;
  float: right;
}

.author {
  display: inline-block;
}

.share:hover {
  a {
    color: darken($anchorColor, 30%);
    //color: black;
  }
}

h3 {
  display: inline;
}

.sidebarHeader {
  border-bottom: 1px solid #d7d7d7;
  padding: 0 0 1em;
  margin: 0 0 1em;
  h4 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 26px;
  }
}

.indivProfile {
  zoom: 1;
  margin: 10px 0;
  padding: 0;
  background: #ffffff;
  border: 1px solid #d7d7d7;
  float: right;
}

.singlefeatured {
  border-style: solid;
  border-color: #d7d7d7;
  border-width: 1px 1px 0 1px;
  background-color: white;
  .blurb {
    padding: 5px;
  }
}

.singlefeatured:last-of-type {
  border-bottom: 1px solid #d7d7d7;
}

.techprofile, .devprofile {
  display: inline-block;
  //float: right;
  padding: 0;
  margin: 6%;
}

.profileheading {
  zoom: 1;
  height: auto;
  overflow: hidden;
  //margin: 20px 20px 0 20px;
  padding: 0;
}

.profilebody {
  zoom: 1;
  height: auto;
  overflow: hidden;
  //margin: 20px 20px 0 20px;
}

.featured {
  //position: fixed;
  display: inline-block;
  text-align: left;
  width: 22%;
}

.jargonator {
  height: $navHeight;
  border-bottom: 1px solid #d7d7d7;
  @include box-shadow(inset 0 -2px 1px rgba(black, .03));

}

.tabs {
  margin: 0 auto;
  list-style: none;

  a {
    display: block;
    text-decoration: none;
  }

  > li {
    float: left;
    margin-right: 3px;
    min-width: 140px;
    text-align: center;
  }

  > li > a {
    height: $navHeight;
    line-height: $navHeight;
    padding: 0 20px;
    text-decoration: none;
    text-shadow: 0 -1px rgba(black, .3);
    border-top: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-radius: 3px 3px 0 0;

    &:hover {
      text-decoration: none;
      color: white;
      background: #929292;
    }
  }
}

.active {
  background: #66c0b7;
  color: white;
  text-shadow: none;
}

.result {
  color: black;
}

.login {
  //display: inline-block;
  padding: 0;
  position: relative;
  margin: 10px auto 0 auto;
  width: 1280px;
  height: 40px;
  a {
    float: right;
    margin: 0;
    color: #d7d7d7;
    i {
      padding-right: 3px;
    }
  }
}

.adminlogin {
  display: inline-block;
  float: right;
  padding-top: 20px;
  a {
    float: right;
    margin: 0;
    color: white;
    i {
      padding-right: 3px;
    }
  }
}

label {
  display: inline-block;
}

.label {
  font-weight: bold;
  margin-top: 10px;
  font-style: italic;
  margin-bottom: 0;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder { /* Firefox 18- */
  color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

.fix-to-top {
  position: fixed;
  top: 60px;
  height: 50px;
  z-index: 1;
  width: 100%;
}

.fix-at-top {
  position: fixed;
  top: 117px;
  //display: inline-block;
  //width: 22%;
}

.imgheader {
  width: 100%;
  margin-bottom: 0;
  height: 250px;
  background-position: bottom;
  background-size: 100%;
  background-image: url('../../img/header3.jpg');
  background-repeat: no-repeat;
}

.headerImage {
  border: 0;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 0;
}

.headerBottom {
  height: 10px;
  background-color: black;
  margin: 0;
  width: 100%;
}

.Admin {
  margin-top: 100px;
}

.createView {
  width: 1000px;
  margin: 0 auto;
}

.entryForm {
  border-right: solid #d7d7d7 1px;
  border-left: solid #d7d7d7 1px;
  border-bottom: solid #d7d7d7 1px;
  background-color: white;
  padding: 20px;
  textarea {
    width: 960px;
    height: 90px;
  }
  input {
    width: 960px;
  }
  h4 {
    margin-top: 30px;
    font-weight: bold;
  }
  .content {
    height: 400px;
  }
}

.review {
  background: white;
  padding: 80px;
  border: solid #d7d7d7 1px;
  width: 1000px;
  textarea {
    width: 840px;
    height: 90px;
  }
}

.edit {
  background: white;
  padding: 80px;
  border: solid #d7d7d7 1px;
  width: 1000px;
  margin: 0 auto;
  textarea {
    width: 960px;
    height: 300px;
  }
  input {
    width: 960px;
  }
  h4 {
    margin-top: 30px;
    font-weight: bold;
  }
  .content {
    height: 400px;
  }
  .feedback {
    height: 800px;
  }
}

.statusButton {
  width: 136px;
}

.register {
  label {
    text-align: right;
  }
}

@media (min-width: 550px) {
  .featured {
    width: 282px;
  }
}