<div>
    <h3>Developer Profiles</h3>
    <table style="width:100%">
        <tr>
            <th>Article Title</th>
            <th>Author</th>
            <th>Date Submitted</th>
            <th>Date Last Modified</th>
            <th>Featured</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="dev in devArticles">
            <td>{{dev.article_title}}</td>
            <td>{{dev.first_name}} {{dev.last_name}}</td>
            <td>{{dev.date_created | date:'EEEE, MMMM d, y'}}</td>
            <td>{{dev.last_modified | date:'EEEE, MMMM d, y'}}</td>
            <td>{{dev.featured}}</td>
            <td>{{dev.status}}</td>
            <td ng-show="dev.status == 'Published'"><button ng-click="unPublish(dev.id, dev.status)">UnPublish</button></td>
            <td ng-show="dev.status == 'Approved'"><button ng-click="Publish(dev.id, dev.status)">Publish</button></td>
            <td ng-show="dev.status == 'Awaiting Admin Approval'"><button ng-click="Review(dev.id)">Review</button></td>
            <td ng-show="dev.status == 'Awaiting Author Approval'"><button ng-click="Review(dev.id)">Review</button></td>
        </tr>
    </table>
    <h3>Tech Profiles</h3>
    <table style="width:100%">
        <tr>
            <th>Article Title</th>
            <th>Author</th>
            <th>Date Submitted</th>
            <th>Date Last Modified</th>
            <th>Featured</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="tech in techArticles">
            <td>{{tech.article_title}}</td>
            <td>{{tech.first_name}} {{tech.last_name}}</td>
            <td>{{tech.date_created | date:'EEEE, MMMM d, y'}}</td>
            <td>{{tech.last_modified | date:'EEEE, MMMM d, y'}}</td>
            <td>{{tech.featured}}</td>
            <td>{{tech.status}}</td>
            <td ng-show="tech.status == 'Published'" ><button ng-click="unPublish(tech.id, tech.status)">UnPublish</button></td>
            <td ng-show="tech.status == 'Approved'" ><button ng-click="Publish(tech.id, tech.status)">Publish</button></td>
            <td ng-show="tech.status == 'Awaiting Admin Approval'" ><button ng-click="Review(tech.id)">Review</button></td>
            <td ng-show="tech.status == 'Awaiting Author Approval'" ><button ng-click="Review(tech.id)">Review</button></td>
        </tr>
    </table>
</div>