<div class="container" ng-show="showme">
    <div class="twelve columns">
        <form class="twelve columns">
            <div class="row">
                <label for="title">Title: </label>
                <input type="text" ng-model="title" id="title" />
                <label for="blurb">Article Blurb: </label>
                <input type="text" ng-model="blurb" id="blurb" />
            </div>
            <h4>Just the Facts</h4>
            <div class="row">
                <label for="nj_what">What It Is: </label></br>
                <textarea rows="4" cols="100" ng-model="nj_what" id="nj_what"></textarea>
            </div>
            <div class="row">
                <label for="nj_why">Why it's cool: </label></br>
                <textarea rows="4" cols="100" ng-model="nj_why" id="nj_why"></textarea>
            </div>
            <div class="row">
                <label for="nj_how_new_dev">How I Use It (Developer, less than 1 year experience):  </label></br>
                <textarea rows="4" cols="100" ng-model="nj_how_new_dev" id="nj_how_new_dev"></textarea>
            </div>
            <div class="row">
                <label for="nj_how_exp_dev">How I Use It (Developer, 3-5 years of experience):  </label></br>
                <textarea rows="4" cols="100" ng-model="nj_how_exp_dev" id="nj_how_exp_dev"></textarea>
            </div>
            <div class="row">
                <label for="nj_how_sr_dev">How I Use It (Developer, over 5 years of experience):  </label></br>
                <textarea rows="4" cols="100" ng-model="nj_how_sr_dev" id="nj_how_sr_dev"></textarea>
            </div>
            <div class="row">
                <label for="nj_controversy">Heated Topics:</label></br>
                <textarea rows="4" cols="100" ng-model="nj_controversy" id="nj_controversy"></textarea>
            </div>
            <h4>Add Jargon</h4>
            <div class="row">
                <label for="j_what">What It Is: </label></br>
                <textarea rows="4" cols="100" ng-model="j_what" id="j_what"></textarea>
            </div>
            <div class="row">
                <label for="j_why">Why it's cool: </label></br>
                <textarea rows="4" cols="100" ng-model="j_why" id="j_why"></textarea>
            </div>
            <div class="row">
                <label for="j_how_new_dev">How I Use It (Developer, less than 1 year experience):  </label></br>
                <textarea rows="4" cols="100" ng-model="j_how_new_dev" id="j_how_new_dev"></textarea>
            </div>
            <div class="row">
                <label for="j_how_exp_dev">How I Use It (Developer, 3-5 years of experience):  </label></br>
                <textarea rows="4" cols="100" ng-model="j_how_exp_dev" id="j_how_exp_dev"></textarea>
            </div>
            <div class="row">
                <label for="j_how_sr_dev">How I Use It (Developer, over 5 years of experience):  </label></br>
                <textarea rows="4" cols="100" ng-model="j_how_sr_dev" id="j_how_sr_dev"></textarea>
            </div>
            <div class="row">
                <label for="j_controversy">Heated Topics:</label></br>
                <textarea rows="4" cols="100" ng-model="j_controversy" id="j_controversy"></textarea>
            </div>
            <div class="row">
                <label for="terms">Key Terms:  </label></br>
                <textarea rows="4" cols="100" ng-model="terms" id="terms"></textarea>
            </div>
            <div class="row">
                <label for="additional_resources">Additional Resources:</label></br>
                <textarea rows="4" cols="100" ng-model="additional_resources" id="additional_resources"></textarea>
            </div>
            <div>
                <div class="row">
                    <label for="authTechComments">Author Comments:  </label></br>
                    <textarea rows="4" cols="100" ng-model="authTechComments" id="authTechComments"></textarea>
                    <!--<button class="btn btn-info" ng-click="addAuthComments()">Send Feedback</button>-->
                    <!--<button class="btn btn-info" ng-click="approve()">Approve</button>-->
                </div>
            </div>
            <button class="btn btn-info" ng-click="addTechRevision()">Submit</button>
        </form>
    </div>
</div>
<div class="container" ng-hide="showme">
    <div class="twelve columns">
        <form class="twelve columns">
            <div class="row">
                <label for="devtitle">Title: </label>
                <input type="text" ng-model="devtitle" id="devtitle" />
                <label for="devblurb">Article Blurb: </label>
                <input type="text" ng-model="devblurb" id="devblurb" />
            </div>
            <div class="row">
                <label for="content">Article Body:</label></br>
                <textarea cols="100" ng-model="content" id="content"></textarea>
            </div>
            <div>
                <div class="row">
                    <label for="authDevComments">Author Comments:  </label></br>
                    <textarea rows="4" cols="100" ng-model="authDevComments" id="authDevComments"></textarea>
                    <!--<button class="btn btn-info" ng-click="addAuthComments()">Send Feedback</button>-->
                    <!--<button class="btn btn-info" ng-click="approve()">Approve</button>-->
                </div>
            </div>
            <button class="btn btn-info" ng-click="addDevRevision()">Submit</button>
        </form>
    </div>
</div>
<div class="container" ng-show="feedback">
    <div class="twelve columns" ng-repeat="comment in comments">
        <p class="label"> On {{comment.comment_date  | date:'EEEE, MMMM d, y'}} {{comment.username}} said:</p>
        <p>{{comment.comments}}</p>
    </div>
</div>