<div class="container register">
    <div class="login-container">
        <h1>Register New User</h1>
        <form action="/register" method="post" class="twelve columns">
            <div class="row">
                <label class="three columns offset-by-two" for="username">Username:</label>
                <input class="three columns" type="text" name="username" id="username">
            </div>
            <div class="row">
                <label class="three columns offset-by-two" for="role">Role:</label>
                <input class="three columns" type="text" name="role" id="role">
            </div>
            <div class="row">
                <label class="three columns offset-by-two" for="author_id">Author ID:</label>
                <input class="three columns" type="text" name="author_id" id="author_id">
            </div>
            <div class="row">
                <label class="three columns offset-by-two" for="password">Password:</label>
                <input class="three columns" type="password" name="password" id="password">
            </div>

            <input type="submit" value="Register"/>
        </form>
    </div>
</div>