<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script type="text/javascript" src="../vendors/angular.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="../scripts/app.js"></script>
    <script type="text/javascript" src="../scripts/factories/adminfactory.js"></script>
    <script type="text/javascript" src="../scripts/factories/authenticationFactory.js"></script>
    <script type="text/javascript" src="../scripts/admincontrollers/allarticlescontroller.js"></script>
    <script type="text/javascript" src="../scripts/admincontrollers/createcontroller.js"></script>
    <script type="text/javascript" src="../scripts/admincontrollers/reviewcontroller.js"></script>
    <script type="text/javascript" src="../scripts/admincontrollers/logcontroller.js"></script>
    <script type="text/javascript" src="../scripts/admincontrollers/editcontroller.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../vendors/normalize.css" />
    <link rel="stylesheet" href="../vendors/skeleton.css" />
    <link rel="stylesheet" href="../sass_styles/css_files/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

    <title>Admin Log-in</title>
</head>
<body ng-app="myApp">
    <div ng-controller="LogController">
        <div ng-show="admin" ng-include="'views/admin_templates/adminnav.html'" class="header"></div>
        <div ng-hide="admin" ng-include="'views/admin_templates/authornav.html'" class="header"></div>
    </div>
    <div class="container">
        <div class="mainContent Admin">
            <main ng-view></main>
        </div>
    </div>

</body>
</html>