<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failed</title>

    <link rel="stylesheet" href="../vendors/normalize.css" />
    <link rel="stylesheet" href="../vendors/skeleton.css" />
    <link rel="stylesheet" href="../sass_styles/css_files/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

</head>
<body>

    <div class="container">
    <div class="login-container">
        <h1 class="lead">Failed to login</h1>
        <p><a href="/login.html">Back to login</a></p>
    </div>
    </div>

</body>
</html>