body {
  background-color: #f9f9f9; }
  body a {
    color: black; }

.header {
  position: fixed;
  width: 100%;
  opacity: 1;
  z-index: 2;
  height: 60px;
  top: 0;
  left: 0;
  background-color: #66c0b7;
  font-family: 'Muli', sans-serif; }

.navlink {
  font-size: 18px;
  display: inline-block;
  list-style-type: none;
  padding: 0 10px;
  position: relative;
  text-align: center; }
  .navlink a {
    text-decoration: none;
    color: white; }

.navlink:hover {
  border-bottom: solid white 2px; }

@media (min-width: 1340px) {
  .topNavlist {
    width: 1220px; } }
*:focus {
  outline: none; }

.searchBox {
  margin-top: 13px;
  display: inline-block;
  float: right;
  border-bottom: solid white 2px; }
  .searchBox img {
    height: 20px;
    margin-top: 4px; }

.container {
  max-width: 1340px;
  padding: 30px 15px 20px 15px;
  margin: 0 auto; }

.topNavlist {
  margin: 0 auto;
  height: 100%; }
  .topNavlist h1 {
    font-family: 'Muli', sans-serif;
    display: inline-block;
    margin: 0;
    font-size: 42px;
    padding-top: 2px; }
  .topNavlist ul {
    display: inline-block;
    padding-top: 19.5px;
    margin: 0 0 0 30px;
    vertical-align: top;
    height: 100%; }
  .topNavlist input {
    float: right;
    margin-right: 10px;
    margin-bottom: 0;
    width: 200px;
    display: inline-block;
    border: none;
    height: 25px;
    background-color: #66c0b7;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 14px;
    color: white; }
  .topNavlist .searchResults {
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    background: white;
    opacity: 1;
    border: solid black 1px; }
    .topNavlist .searchResults li {
      margin-bottom: 0; }

.mainimg {
  display: inline-block;
  float: right;
  /*vertical-align: bottom;*/
  text-align: center; }

.mainContent {
  margin-top: 80px; }

.postTopper {
  zoom: 1;
  height: 48px;
  top: 59px;
  background: #fff;
  border-bottom: 1px solid #d7d7d7; }

.share {
  float: left;
  display: block;
  border-right: 1px solid #d7d7d7;
  padding: 10px 20px 10px; }
  .share a {
    color: #929292; }
    .share a i {
      padding-right: 7px; }

.share:hover a {
  color: #464646; }

h3 {
  display: inline; }

.indivProfile {
  zoom: 1;
  margin: 20px 0;
  padding: 0;
  background: #ffffff;
  border: 1px solid #d7d7d7;
  float: right; }

.techprofile, .devprofile {
  display: inline-block;
  padding: 0;
  max-width: 685px;
  margin: 40px; }

.profileheading {
  zoom: 1;
  height: auto;
  overflow: hidden;
  margin: 20px 20px 0 20px; }

.profilebody {
  zoom: 1;
  height: auto;
  overflow: hidden;
  margin: 20px 20px 0 20px; }

.featured {
  position: fixed;
  display: inline-block; }

.jargonator {
  height: 34px;
  border-bottom: 5px solid white;
  -webkit-box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03); }

.tabs {
  margin: 0 auto;
  list-style: none; }
  .tabs a {
    display: block;
    text-decoration: none; }
  .tabs > li {
    float: left;
    margin-right: 3px; }
  .tabs > li > a {
    height: 34px;
    line-height: 34px;
    padding: 0 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    background: #759aaf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, #9cb6c5, #759aaf);
    background-image: -moz-linear-gradient(top, #9cb6c5, #759aaf);
    background-image: -o-linear-gradient(top, #9cb6c5, #759aaf);
    background-image: linear-gradient(to inverse-side(top), #9cb6c5, #759aaf);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 -2px 2px rgba(0, 0, 0, 0.03), 0 2px white, 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 -2px 2px rgba(0, 0, 0, 0.03), 0 2px white, 0 0 2px rgba(0, 0, 0, 0.2); }
    .tabs > li > a:hover {
      text-decoration: none;
      background: #85a6b8;
      background-image: -webkit-linear-gradient(top, #afc5d1, #85a6b8);
      background-image: -moz-linear-gradient(top, #afc5d1, #85a6b8);
      background-image: -o-linear-gradient(top, #afc5d1, #85a6b8);
      background-image: linear-gradient(to inverse-side(top), #afc5d1, #85a6b8); }
  .tabs > li.active > a, .tabs > li > a:active, .tabs > .dropdown:hover > a {
    background: #66c0b7;
    color: #404040;
    text-shadow: none;
    -webkit-box-shadow: 0 2px white, 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px white, 0 0 2px rgba(0, 0, 0, 0.2); }

.result {
  color: black; }

::-webkit-input-placeholder {
  color: white; }

:-moz-placeholder {
  /* Firefox 18- */
  color: white; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: white; }

:-ms-input-placeholder {
  color: white; }

/*# sourceMappingURL=style.css.map */
