<div class="twelve columns">
    <div class="featured" set-class-when-top="fix-at-top" padding-when-at-top="120" >
        <div class="sidebar">
            <div class="sidebarHeader">
                <h4>Top Picks</h4>
            </div>
            <div class="featuredProfiles">
                <div ng-repeat="profile in featTechProfiles" class=" singlefeatured row">
                    <img src="https://unsplash.it/200" class="one-third column"/>
                    <div class="two-thirds column blurb">
                        <a>{{profile.article_blurb}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="one column"></div>
    <div ng-repeat="article in articles" class="indivProfile eight columns" >
        <div class="postTopper row">
            <div class="share">
                <a onclick="window.open('https://plus.google.com/share?url=http://jarpile.com')"><i class="fa fa-google-plus"></i>Google+</a>
            </div>
            <div class="share">
                <a><i class="fa fa-facebook"></i>Facebook</a>
            </div>
            <div class="share">
                <a onclick="window.open('https://twitter.com/intent/tweet?text=Check out this sweet article on jarpile!')"><i class="fa fa-twitter"></i>Twitter</a>
            </div>
            <div class="share">
                <a onclick="window.open('https://www.linkedin.com/cws/share?url=http://jarpile.com')"><i class="fa fa-linkedin"></i>LinkedIn</a>
            </div>
        </div>
        <div class="techprofile">
            <div class="profileheading">
                <div class="row">
                    <h2>{{article.article_title}}</h2>
                </div>
                <div class="row">
                    <img class="mainimg" src="https://unsplash.it/700/200/?random" />
                </div>
                <div class="row">
                    <p class="author">By {{article.first_name}} {{article.last_name}}</p>
                    <p class="date">{{article.last_modified | date:'EEEE, MMMM d, y'}}</p>
                </div>
            </div>
            <div class="profilebody">
                <div class="row">
                    <nav class="jargonator">
                        <ul class="tabs">
                            <li><a href="" ng-click="makeArticleFactsActive()" ng-class="{active: tab===0}">Just the Facts</a></li>
                            <li><a href="" ng-click="makeArticleJargonActive()" ng-class="{active: tab==1}">Add Jargon</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="row">
                    <div class="nj" ng-hide="showme">
                        <p>What It Is: {{article.nj_what}}</p>
                        <p>Why It's Cool: {{article.nj_why}}</p>
                        <p>How I Use It: </p>
                        <ul>
                            <li>Developer, less than 1 year experience: {{article.nj_how_new_dev}}</li>
                            <li>Developer, 3-5 years of experience: {{article.nj_how_exp_dev}}</li>
                            <li>Developer, over 5 years of experience: {{article.nj_how_sr_dev}}</li>
                        </ul>
                        <p>Heated Topics: {{article.nj_controversy}}</p>
                    </div>
                    <div class="j" ng-show="showme">
                        <p>What It Is: {{article.j_what}}</p>
                        <p>Why It's Cool: {{article.j_why}}</p>
                        <p>How I Use It: </p>
                        <ul>
                            <li>Developer, less than 1 year experience: {{article.j_how_new_dev}}</li>
                            <li>Developer, 3-5 years of experience: {{article.j_how_exp_dev}}</li>
                            <li>Developer, over 5 years of experience: {{article.j_how_sr_dev}}</li>
                        </ul>
                        <p>Heated Topics: {{article.j_controversy}}</p>
                    </div>
                    <p>Additional External Resources: {{article.additional_resoureces}}</p>
                    <p>Essential Terminology {{article.terms}}</p>
                </div>
                <div class="row">
                    <!--<img class="two columns" ng-src="../../img/{{article.photo}}" width="75px"/>-->
                    <p class="twelve columns">About {{article.first_name}}: {{article.bio}}</p>
                </div>
            </div>
        </div>
    </div>
</div>