<div class="twelve columns">
    <div class="featured" set-class-when-top="fix-at-top" padding-when-at-top="120" >
        <div class="sidebar">
            <div class="sidebarHeader">
                <h4>Top Picks</h4>
            </div>
            <div class="featuredProfiles">
                <div ng-repeat="profile in featDevProfiles" class=" singlefeatured row">
                    <!--<img src="https://unsplash.it/200" class="one-third column"/>-->
                    <img ng-src="../../img/{{profile.small_photo}}" class="one-third column"/>
                    <div class="two-thirds column blurb">
                        <a>{{profile.article_blurb}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="one column"></div>
    <div class="indivProfile eight columns" ng-repeat="article in articles">
        <div class="postTopper row">
            <div class="share">
                <a onclick="window.open('https://plus.google.com/share?url=http://jarpile.com')"><i class="fa fa-google-plus"></i>Google+</a>
            </div>
            <div class="share">
                <a><i class="fa fa-facebook"></i>Facebook</a>
            </div>
            <div class="share">
                <a onclick="window.open('https://twitter.com/intent/tweet?text=Check out this sweet article on jarpile!')"><i class="fa fa-twitter"></i>Twitter</a>
            </div>
            <div class="share">
                <a onclick="window.open('https://www.linkedin.com/cws/share?url=http://jarpile.com')"><i class="fa fa-linkedin"></i>LinkedIn</a>
            </div>
        </div>
        <div class="devprofile">
            <div class="profileheading">
                <div class="row">
                    <h2>{{article.article_title}}</h2>
                </div>
                <div class="row">
                    <img ng-if="article.article_photo == null" class="mainimg" src="https://unsplash.it/740/210/?random" />
                    <img ng-if="article.article_photo != null" class="mainimg" ng-src="../../img/{{article.article_photo}}"/>
                </div>
                <div class="row">
                    <p class="author">By {{article.first_name}} {{article.last_name}}</p>
                    <p class="date">Date {{article.last_modified  | date:'EEEE, MMMM d, y'}}</p>
                </div>
            </div>
            <div class="profilebody">
                <div class="row">
                    <p>{{article.content}}</p>
                </div>
                <div class="row">
                    <!--<img ng-src="../../img/{{article.photo}}" width="75px"/>-->
                    <img src="https://unsplash.it/75" class="two columns"/>
                    <p class="ten columns" > About {{article.first_name}}: {{article.bio}}</p>
                </div>
            </div>
        </div>
    </div>
</div>