<div class="twelve columns">
    <div ng-repeat="profile in devProfiles" class="devprofile">
        <div>
            <div class="row">
                <h2>{{profile.article_title}}</h2>
            </div>
            <div class="row">
                <h3 class="eight columns">{{profile.article_blurb}}</h3>
                <img class="mainimg four columns" ng-src="../../img/{{profile.article_photo}}" width="250px"/>
            </div>
            <div class="row">
                <p>By {{profile.first_name}} {{profile.last_name}}</p>
                <p>Date {{profile.last_modified}}</p>
            </div>
            <div class="row">
                <p>{{profile.content}}</p>
            </div>
            <div class="row">
                <img class="two columns" ng-src="../../img/{{profile.photo}}" width="75px"/>
                <p class="ten columns" >{{profile.bio}}</p>
            </div>
        </div>
    </div>
    <div ng-repeat="profile in featDevProfiles">
        <div>
            <h4>Featured Article:</h4>
            <p>{{profile.article_title}}</p>
            <p>{{profile.article_blurb}}</p>
        </div>
    </div>
</div>