<div ng-controller="SearchController" class="row topNavlist">
    <ul>
        <li class="navlink"><a href="#techprofile" class="navItem">Tech Profiles</a></li>
        <li class="navlink"><a href="#devprofile" class="navItem">Developer Profiles</a></li>
    </ul>
        <input class="search" ng-model="searchText" ng-change="change(text)" placeholder="Search Articles" />
            <div class="searchResults">
                <ul class="searchList">
                    <li ng-repeat="article in articles"><a class="result">{{article.article_title}}</a></li>
                </ul>
            </div>
</div>
