<div class="twelve columns">
    <div class="featured" set-class-when-top="fix-at-top" padding-when-at-top="120" >
        <div class="sidebar">
            <div class="sidebarHeader">
                <h4>Top Picks</h4>
            </div>
            <div class="featuredProfiles">
                <div ng-repeat="profile in featTechProfiles" class=" singlefeatured row">
                    <img ng-src="../../img/{{profile.small_photo}}" class="one-third column" width="200px"/>
                    <!--<img src="https://unsplash.it/200" class="one-third column"/>-->
                    <div class="two-thirds column blurb">
                        <a>{{profile.article_blurb}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="indivProfile eight columns" ng-repeat="profile in techProfiles">
        <div class="postTopper row">
            <div class="share">
                <a onclick="window.open('https://plus.google.com/share?url=http://jarpile.com')"><i class="fa fa-google-plus"></i>Google+</a>
            </div>
            <div class="share">
                <a><i class="fa fa-facebook"></i>Facebook</a>
            </div>
            <div class="share">
                <a onclick="window.open('https://twitter.com/intent/tweet?text=Check out this sweet article on jarpile!')"><i class="fa fa-twitter"></i>Twitter</a>
            </div>
            <div class="share">
                <a onclick="window.open('https://www.linkedin.com/cws/share?url=http://jarpile.com')"><i class="fa fa-linkedin"></i>LinkedIn</a>
            </div>
        </div>
        <div class="techprofile">
            <div class="profileheading">
                <div class="row">
                    <h2><a ng-click="selectArticle(profile.id)">{{profile.article_title}}</a></h2>
                </div>
                <div class="row">
                    <img ng-if="profile.article_photo == null" class="mainimg" src="https://unsplash.it/740/210/?random" />
                    <img ng-if="profile.article_photo != null" class="mainimg" ng-src="../../img/{{profile.article_photo}}"/>
                </div>
                <div class="row">
                    <p class="author">By {{profile.first_name}} {{profile.last_name}}</p>
                    <p class="date">{{profile.last_modified | date:'EEEE, MMMM d, y'}}</p>
                </div>
            </div>
            <div class="profilebody">
                <div class="row">
                    <nav class="jargonator">
                        <ul class="tabs">
                            <li><a href="" ng-click="makeFactsActive($index)" ng-class="{active: showme[$index]!=true}">Just the Facts</a></li>
                            <li><a href="" ng-click="makeJargonActive($index)" ng-class="{active: showme[$index]==true}">Add Jargon</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="row">
                    <div class="nj" ng-hide="showme[$index]">
                        <p>What It Is: {{profile.nj_what}}</p>
                        <p>Why It's Cool: {{profile.nj_why}}</p>
                        <p>How I Use It: </p>
                        <ul>
                            <li>Developer, less than 1 year experience: {{profile.nj_how_new_dev}}</li>
                            <li>Developer, 3-5 years of experience: {{profile.nj_how_exp_dev}}</li>
                            <li>Developer, over 5 years of experience: {{profile.nj_how_sr_dev}}</li>
                        </ul>
                        <p>Heated Topics: {{profile.nj_controversy}}</p>
                    </div>
                    <div class="j" ng-show="showme[$index]">
                        <p>What It Is: {{profile.j_what}}</p>
                        <p>Why It's Cool: {{profile.j_why}}</p>
                        <p>How I Use It: </p>
                        <ul>
                            <li>Developer, less than 1 year experience: {{profile.j_how_new_dev}}</li>
                            <li>Developer, 3-5 years of experience: {{profile.j_how_exp_dev}}</li>
                            <li>Developer, over 5 years of experience: {{profile.j_how_sr_dev}}</li>
                        </ul>
                        <p>Heated Topics: {{profile.j_controversy}}</p>
                    </div>
                    <p>Additional External Resources: {{profile.additional_resoureces}}</p>
                    <p>Essential Terminology {{profile.terms}}</p>
                </div>
                <div class="row">
                    <!--<img ng-src="../../img/{{profile.photo}}" width="75px" class="two columns"/>-->
                    <img src="https://unsplash.it/75" class="two columns"/>
                    <p class="ten columns">About {{profile.first_name}}: {{profile.bio}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


