<div class="twelve columns">
    <div class="featured three columns">
        <div ng-repeat="profile in featTechProfiles" class="row">
            <h4>Featured Article:</h4>
            <p>{{profile.article_title}}</p>
            <p>{{profile.article_blurb}}</p>
        </div>
    </div>
    <div class="one column"></div>
    <div class="indivProfile eight columns" ng-repeat="profile in techProfiles">
        <div class="postTopper">
            <div class="share">
                <a><i class="fa fa-share"></i>Share</a>
            </div>
            <div class="share">
                <a><i class="fa fa-facebook"></i>Facebook</a>
            </div>
            <div class="share">
                <a><i class="fa fa-twitter"></i>Twitter</a>
            </div>
            <div class="share">
                <a><i class="fa fa-envelope"></i>Email</a>
            </div>
        </div>
        <div class="techprofile">
            <div class="profileheading">
                <div class="row">
                    <h2><a ng-click="selectArticle(profile.id)">{{profile.article_title}}</a></h2>
                </div>
                <div class="row">
                    <!--<img class="mainimg" ng-src="../../img/{{profile.article_photo}}" />-->
                </div>
                <div class="row">
                    <p>By {{profile.first_name}} {{profile.last_name}}</p>
                    <p>Date {{profile.last_modified}}</p>
                </div>
            </div>
            <div class="profilebody">
                <div class="row">
                    <nav class="jargonator">
                        <ul class="tabs">
                            <li class="active"><a href="" ng-click="showme=false">Just the Facts</a></li>
                            <li><a href="" ng-click="showme=true">Add Jargon</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="row">
                    <div class="nj" ng-hide="showme">
                        <p>What It Is: {{profile.nj_what}}</p>
                        <p>Why It's Cool: {{profile.nj_why}}</p>
                        <p>How I Use It: </p>
                        <ul>
                            <li>Developer, less than 1 year experience: {{profile.nj_how_new_dev}}</li>
                            <li>Developer, 3-5 years of experience: {{profile.nj_how_exp_dev}}</li>
                            <li>Developer, over 5 years of experience: {{profile.nj_how_sr_dev}}</li>
                        </ul>
                        <p>Heated Topics: {{profile.nj_controversy}}</p>
                    </div>
                    <div class="j" ng-show="showme">
                        <p>What It Is: {{profile.j_what}}</p>
                        <p>Why It's Cool: {{profile.j_why}}</p>
                        <p>How I Use It: </p>
                        <ul>
                            <li>Developer, less than 1 year experience: {{profile.j_how_new_dev}}</li>
                            <li>Developer, 3-5 years of experience: {{profile.j_how_exp_dev}}</li>
                            <li>Developer, over 5 years of experience: {{profile.j_how_sr_dev}}</li>
                        </ul>
                        <p>Heated Topics: {{profile.j_controversy}}</p>
                    </div>
                    <p>Additional External Resources: {{profile.additional_resoureces}}</p>
                    <p>Essential Terminology {{profile.terms}}</p>
                </div>
                <div class="row">
                    <img ng-src="../../img/{{profile.photo}}" width="75px"/>
                    <p>About {{profile.first_name}}: {{profile.bio}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


